.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: hsl(220deg 13% 13%);
  color: white;
}

.section-border {
  border: 1px solid white;
  padding: 1rem;
  border-radius: 0.5rem;
}

.charClassName {
  cursor: pointer;
}

.eligible {
  color: green;
}

.ineligible {
  color: red;
}

.inline {
  display: inline;
}
